.git
.github
.vscode
.idea
.DS_Store

.gocache
.gomodcache
.pnpm-store
.cache
tmp
data
.data

bin
dist
coverage.out
build-errors.log

web/node_modules
web/dist
web/.vite
web/.output
web/tsconfig.app.tsbuildinfo
web/tsconfig.node.tsbuildinfo
